* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.section-hero {
    padding: 2px 0 80px 0;
    background-color: #1F2937;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.header-list {
    display: flex;
    list-style-type: none;
}

.header-list li {
    
}