* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.header {
    padding: 2px 0 80px 0;
    background-color: #1F2937;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-top: 5px;
}

.header-list {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.header-link:link,
.header-link:visited {
    color: #F9FAF8;
    text-decoration: none;
}

.header-link:hover,
.header-link:active {
    color: #F9FAF8;
    text-decoration: none;
}

.hero-section {
    padding: 20px 0 120px 0;
    background-color: #1F2937;
}

.hero-wrapper {
    display: flex;
    align-items: center;
    gap: 50px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.hero-header {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-descr {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-btn {
    margin-top: 5px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: bold;
    width: 115px;
    height: 35px;
    border: 0;
    border-radius: 8px;
}

.info-section {
    padding: 50px 0 120px 0;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.info-wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.block {
    width: 160px;
    height: 160px;
    border: 5px solid #3882F6;
    border-radius: 8px;
}

.testimonial-section {
    padding: 120px 0 60px;
    margin: 0 auto;
    background-color: #E5E7EB;
}

.testimonial-wrapper {
    margin: 0 105px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.testimonial-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.testimonial-author {
    font-weight: 700;
    color: #1F2937;
}

.action-section {
    padding: 80px;
}

.action-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 50px 110px;
    width: 1000px;
    background-color: #3882F6;
    border-radius: 8px;
}

.action-text {
    color: #F9FAF8;
    font-weight: 700;
    font-size: 20px;
}

.action-descr {
    color: #E5E7EB;
}

.action-btn {
    width: 110px;
    height: 30px;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 900;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    cursor: pointer;
}

.footer {
    padding: 40px 0;
    background-color: #1F2937;
}

.copyright {
    text-align: center;
    color: #F9FAF8;
}