* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

/* Common styles */

.container {
    width: 1000px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.btn {
    width: 130px;
    padding: 10px;
    font-size: 16px;
    font-weight: 900;
    border-radius: 8px;
    cursor: pointer;
}

/* Header section */

.header {
    padding: 2px 0 80px 0;
    background-color: #1F2937;
}

.logo {
    font-size: 42px;
    font-weight: 900;
    color: #F9FAF8;
    cursor: pointer;
}

.navbar_links {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.navbar_links a:link,
.navbar_links a:visited {
    font-size: 18px;
    font-weight: 900;
    color: #E5E7EB;
    text-decoration: none;
}

.navbar_links a:hover,
.navbar_links a:active {
    transition: all 0.2s;
    text-shadow: 0.5px 0.5px 2px #c9c9c9; 
    font-size: 18px;
    font-weight: 900;
    text-decoration: none;
}


/* Hero section */

.hero_section {
    padding: 20px 0 120px 0;
    background-color: #1F2937;
}

.hero_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.hero_text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero_img {
    max-width: 100%;
    height: 300px;
}

.hero_header {
    font-size: 48px;
    font-style: 900;
    color: #F9FAF8;
}

.hero_description {
    font-size: 18px;
    color: #E5E7EB;
}

.btn_hero {
    background-color: #3882F6;
    color: #E5E7EB;
    border: none;
    transition: all 0.2s;
}

.btn_hero:hover {
    box-shadow: 0 0 5px #327ef9; 
    background-color: #327ef9;
}

/* Info section */


.info_section {
    padding: 50px 0 120px 0;
}

.info_title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.info_cards {
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card_img {
    max-width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 2px;
}




















.testimonial-section {
    padding: 120px 0 60px;
    margin: 0 auto;
    background-color: #E5E7EB;
}

.testimonial-wrapper {
    margin: 0 105px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.testimonial-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.testimonial-author {
    font-weight: 700;
    color: #1F2937;
}

.action-section {
    padding: 80px;
}

.action-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 50px 110px;
    width: 1000px;
    background-color: #3882F6;
    border-radius: 8px;
}

.action-text {
    color: #F9FAF8;
    font-weight: 700;
    font-size: 20px;
}

.action-descr {
    color: #E5E7EB;
}

.action-btn {
    width: 110px;
    height: 30px;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 900;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    cursor: pointer;
}

.footer {
    padding: 40px 0;
    background-color: #1F2937;
}

.copyright {
    text-align: center;
    color: #F9FAF8;
}